<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>VRS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CustomerController</display-name>
    <servlet-name>CustomerController</servlet-name>
    <servlet-class>controllers.CustomerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerController</servlet-name>
    <url-pattern>/CustomerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controllers.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>controllers.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddVehicleController</display-name>
    <servlet-name>AddVehicleController</servlet-name>
    <servlet-class>controllers.AddVehicleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddVehicleController</servlet-name>
    <url-pattern>/AddVehicleController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayVehiclesController</display-name>
    <servlet-name>DisplayVehiclesController</servlet-name>
    <servlet-class>controllers.DisplayVehiclesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayVehiclesController</servlet-name>
    <url-pattern>/DisplayVehiclesController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayVehicleBookingController</display-name>
    <servlet-name>DisplayVehicleBookingController</servlet-name>
    <servlet-class>controllers.DisplayVehicleBookingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayVehicleBookingController</servlet-name>
    <url-pattern>/DisplayVehicleBookingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerProfileController</display-name>
    <servlet-name>CustomerProfileController</servlet-name>
    <servlet-class>controllers.CustomerProfileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerProfileController</servlet-name>
    <url-pattern>/CustomerProfileController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProfileServlet</display-name>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <servlet-class>controllers.UpdateProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <url-pattern>/UpdateProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookServlet</display-name>
    <servlet-name>BookServlet</servlet-name>
    <servlet-class>controllers.BookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookServlet</servlet-name>
    <url-pattern>/BookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayBookings</display-name>
    <servlet-name>DisplayBookings</servlet-name>
    <servlet-class>dbhelpers.DisplayBookings</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayBookings</servlet-name>
    <url-pattern>/DisplayBookings</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayVehiclesServlet</display-name>
    <servlet-name>DisplayVehiclesServlet</servlet-name>
    <servlet-class>controllers.DisplayVehiclesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayVehiclesServlet</servlet-name>
    <url-pattern>/DisplayVehiclesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAdminProfileServlet</display-name>
    <servlet-name>UpdateAdminProfileServlet</servlet-name>
    <servlet-class>controllers.UpdateAdminProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAdminProfileServlet</servlet-name>
    <url-pattern>/UpdateAdminProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminProfileServlet</display-name>
    <servlet-name>AdminProfileServlet</servlet-name>
    <servlet-class>controllers.AdminProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProfileServlet</servlet-name>
    <url-pattern>/AdminProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditVehicleServlet</display-name>
    <servlet-name>EditVehicleServlet</servlet-name>
    <servlet-class>controllers.EditVehicleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditVehicleServlet</servlet-name>
    <url-pattern>/EditVehicleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteVehicleServlet</display-name>
    <servlet-name>DeleteVehicleServlet</servlet-name>
    <servlet-class>controllers.DeleteVehicleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteVehicleServlet</servlet-name>
    <url-pattern>/DeleteVehicleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VehicleEditFormServlet</display-name>
    <servlet-name>VehicleEditFormServlet</servlet-name>
    <servlet-class>controllers.VehicleEditFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VehicleEditFormServlet</servlet-name>
    <url-pattern>/VehicleEditFormServlet</url-pattern>
  </servlet-mapping>
</web-app>